body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar, .navbar-default .navbar-nav > li {
	border: 0, 0, 2px, 0;

}

/** hr slides to selected links **/
.about:hover ~ hr {
    margin-left: 0%;
}
.portfolio:hover ~ hr {
    margin-left: 33%;
}
.contact:hover ~ hr {
    margin-left: 68%;
}

/*red underline for nav links*/
hr {
    height: .25rem;
    width: 30%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
}
/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2A7F7B;
    color: white;
}*/

.panel-body {
    text-align: center;
}
.github-icon {
    width: 50px;
    margin-right: 10px;
    height: auto;
}
.github-icon:hover {
    opacity: 0.5;
}
.linkedin-icon {
    width: 50px;
    margin-right: 10px;
    height: auto;
}
.linkedin-icon:hover {
    opacity: 0.5;
}
.stackoverflow-icon {
    width: 50px;
    height: auto;
}
.stackoverflow-icon:hover {
    opacity: 0.5;
}
.thumbnail {
    position: relative;
    filter: grayscale(100%);
    opacity: 1;
    transition: opacity .5s linear;
}

.thumbnail:hover {
    filter: none;
}

.caption {
    background: rgba(0,0,0,.5);
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    width: 100%;
}
.footer {
    width: 100%;
    padding: 1em;
    color: white;
    background-color: #242424;
    font-family: Times New Roman;
    text-align: center;
    clear: both;
}